.wrapper {
	padding: 130px 10px 0 10px;
	height: 800px;
	background-color: rgba(128, 128, 128, 0.568);
	width: 100%;
}
.wrapper1 {
	padding: 130px 10px 0 10px;
	height: 800px;
	background-color: rgba(128, 128, 128, 0.568);
	width: 100%;
}
.choose {
	font-size: 18px;
	letter-spacing: 0.1em;
	text-align: center;
}
.wrapper img {
	height: 200px;
	margin: 0 auto;
	display: block;
}
.menuLink {
	color: rgba(255, 0, 0, 0.685);
	font-size: 24px;
	font-weight: bold;
	display: block;
	text-align: center;
	width: 100px;
	margin: 0 auto;
	border: 2px solid black;
	border-radius: 15px;
	padding: 5px;
	background-color: white;
}
.wrapperItem {
	height: 100px;
	width: 500px;
	margin: 10px auto;
	border: 1px solid black;
	display: flex;
	border-radius: 10px;
	background-color: white;
}
.photo img {
	height: 90px;
	width: 140px;
	border-radius: 10px;
}
.photo {
	align-self: center;
	padding: 0 0 0 4px;
}
.wrapText {
	text-align: center;
	width: 72%;
}
.name {
	font-size: 18px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	padding: 10px 0 0 0;
	font-weight: bold;
}
.count {
	font-size: 16px;
	letter-spacing: 0.1em;
	padding: 10px 0 0 0;
}
.price {
	font-size: 16px;
	letter-spacing: 0.1em;
	padding: 10px 0 0 0;
}
.promo {
	color: red;
}
.promoName {
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 0.1em;
	text-align: center;
	padding: 5px 0 0 0;
}
.wrapPromoCode {
	background-color: white;
	height: 53px;
	width: 225px;
	border-radius: 15px;
}
.field {
	background-color: rgba(128, 128, 128, 0.541);
	height: 22px;
	width: 150px;
	border-radius: 15px;
	margin: 5px 5px 0px 10px;
	padding: 0 0 0 10px;
}
.but {
	font-size: 16px;
	background-color: rgba(128, 128, 128, 0.541);
	border-radius: 15px;
	padding: 5px;
}
.finalPriceWrapper {
	height: 100px;
	width: 400px;
	margin: 50px auto;
	background-color: white;
	border-radius: 15px;
	border: 1px solid black;
	padding: 10px;
	font-size: 16px;
	letter-spacing: 0.1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.finalPriceWrapper img {
	height: 60px;
	width: 120px;
}
.ffpr {
	margin: 15px 0 0 0;
	text-align: center;
	padding: 3px 0 0 0;
	font-size: 22px;
	font-weight: bold;
	border:1px solid black;
	background-color:rgba(128, 128, 128, 0.466);
	height: 30px;
	width: 140px;
}
.carts{
	display: flex;
	flex-direction: column;
	align-items: center;
}
