.photoDiv img {
	height: 1000px;
	width: 100%;
	margin: 0 0 2px 0;
}
h2 {
	text-align: center;
	font-size: 24px;
	letter-spacing: 0.2em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding: 20px 0;
}
.podLine {
	display: flex;
	border-top: 2px dashed grey;
	border-bottom: 2px dashed grey;
	justify-content: center;
	margin: 0px 0 1px 0;
}
.podLine img {
	height: 70px;
}
.wrapper__pizzas {
	background-color: rgba(128, 128, 128, 0.548);
}
.slider {
	display: flex;
	justify-content: space-between;
	width: 1020px;
	margin: 0px auto;
}
.slider:last-child {
	padding: 0 0 30px 0;
}
.slider img {
	height: 250px;
	width: 500px;
	border-radius: 15px;
	border-left: 4px solid rgb(0, 0, 0);
	border-top: 4px solid black;
	border-bottom: 4px solid black;
	padding: 5px;
	background-color: rgba(202, 137, 39, 0.863);
	margin: 10px 0px 10px 10px;
}
.chees {
	width: 500px;
	margin: 10px 10px 10px 0;
	border-radius: 15px;
	border-right: 4px solid black;
	border-top: 4px solid black;
	border-bottom: 4px solid black;
	padding: 5px;
	background-color: rgba(202, 137, 39, 0.863);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.1em;
	padding: 5px 5px 5px 20px;
}
.slider1 {
	display: flex;
	justify-content: space-between;
	width: 1020px;
	margin: 0 auto;
}
.slider1 img {
	height: 250px;
	width: 500px;
	border-radius: 15px;
	border-right: 4px solid rgb(0, 0, 0);
	border-top: 4px solid black;
	border-bottom: 4px solid black;
	padding: 5px;
	background-color: rgba(202, 137, 39, 0.863);
	margin: 10px 10px 10px 0px;
}
.chees1 {
	width: 500px;
	margin: 10px 0px 10px 10px;
	border-radius: 15px;
	border-left: 4px solid black;
	border-top: 4px solid black;
	border-bottom: 4px solid black;
	padding: 5px;
	background-color: rgba(202, 137, 39, 0.863);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.1em;
	padding: 5px 5px 5px 20px;
}
.news {
	display: flex;
	justify-content: space-evenly;
	padding: 30px;
	background-color: rgba(128, 128, 128, 0.548);
	margin: 0 0 1px 0;
}
.new__wrapper {
	position: relative;
}
.new__wrapper:first-child {
	transform: rotate(11deg);
}
.new__wrapper:nth-child(2) {
	transform: rotate(-7deg);
}
.new__wrapper:last-child {
	transform: rotate(5deg);
}
.imgPicture {
	position: absolute;
	top: 60px;
	left: 61px;
	height: 232px;
	width: 226px;
}
.new {
	position: absolute;
	top: 305px;
	left: 57px;
	text-transform: uppercase;
	width: 250px;
	line-height: 25px;
	text-align: center;
}
.date {
	position: absolute;
	top: 45px;
	left: 200px;
	letter-spacing: 0.1em;
}
.sale_wrap {
	height: 300px;
	padding: 20px;
	margin: 0px auto 0;
	background: #ffffff;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}
.sale_inner {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background: #db5638;
}
.sale_block {
	border: 8px solid #f9f7f6;
	border-radius: 3px;
	display: inline-block;
}
.sale_block h3 {
	line-height: 1;
	padding: 10px 15px;
	margin: 5px;
	background: #2d3549;
	font-size: 40px;
	color: #f9f7f6;
	font-family: 'Days One', sans-serif;
	transform: rotate(-2deg);
}
.sale_block span {
	display: block;
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 2px;
}
.wrapper__rewiew {
	display: flex;
	justify-content: space-between;
	width: 380px;
	background-color: grey;
	border-radius: 15px;
	padding: 10px;
}
.rewiews__wrapper {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 1200px;
}
.rewiew__photo{
	align-self: center;
}
.rewiew__photo img {
	border-radius: 50px;
	margin: 0 10px 0 0;
}
.text__rewiew_wrapper {
	letter-spacing: 0.1em;
}
.rewName {
	font-size: 18px;
	margin: 0 0 5px 0;
}
