.wrapper {
	margin: 94% 1% 20px 1%;
	height: 40px;
	border: 2px solid grey;
	font-size: 14px;
	text-align: end;
	padding: 14px 100px 0px 0;
	box-shadow: 5px 5px 10px rgb(128, 128, 128);
	letter-spacing: 0.1em;
}
