.wrapper {
	background-color: rgba(128, 128, 128, 0.507);
	padding: 150px 0 0 0;
	height: 800px;
}
.phone {
	width: 632px;
	margin: 0 auto;
	box-shadow: 20px 15px 9px rgb(128, 128, 128);
	border: 3px solid black;
}
.pos {
	position: relative;

}
.contacts {
	width: 220px;
	position: absolute;
	bottom: 130px;
	left: 200px;
}
.callWrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
	font-size: 20px;
	letter-spacing: 0.1em;
	font-family: Arial, Helvetica, sans-serif;
}
.callWrap img {
	width: 40px;
	border-radius: 10px;
}
